---
import PostCard from '../../components/post-card.astro';
import MainLayout from '../../layouts/main-layout.astro';
import type { BlogPost } from '../../types';

const allPosts = await Astro.glob('./*.md');
---

<MainLayout title='Blog' description='Blog'>
  <section class='container' aria-label='New Blog Posts'>
    <h1 class='h1'>New Blog Posts</h1>
    <div class='post-container'>
      {
        allPosts.map((post) => (
          <PostCard
            blogPost={post.frontmatter as BlogPost} // TODO: no casting typeGuard?
            url={post.url}
            tagType='h2'
          />
        ))
      }
    </div>
  </section>
</MainLayout>
