---
import type { BlogPost } from '@types';
import { formatBlogPosts } from '@utils';
import PostCard from '../../components/post-card.astro';
import MainLayout from '../../layouts/main-layout.astro';

const filteredPosts = formatBlogPosts(await Astro.glob('./*.md'));
---

<MainLayout title='Blog' description='Blog'>
  <section class='container' aria-label='New Blog Posts'>
    <h1 class='h1'>New Blog Posts</h1>
    <div class='post-container'>
      {
       filteredPosts.map((post) => (
          <PostCard
            blogPost={post.frontmatter as BlogPost} // TODO: no casting typeGuard?
            url={post.url}
            tagType='h2'
          />
        ))
      }
    </div>
  </section>
</MainLayout>
